.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  height: auto;
  background-color: var(--dark-grayish-blue);
  border-radius: 1em;

  @media (max-width: 376px) {
    & {
      min-width: 295px;
    }
  }

  @media (min-width: 486px) {
    & {
      width: 477px;
    }
  }

  .dividerwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em -1em 1em;
    padding: 0 1em;
  }
  .divider {
    stroke: var(--grayish-blue);
    stroke-width: 0.25px;
  }
  .dicewrapper {
    transform: translateY(50%);
  }
  .dice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 1.5em;
    outline: none;
    background-color: var(--neon-green);
    cursor: pointer;
    transition: box-shadow 0.5s cubic-bezier(0.9, 0.67, 1, 0.62);
    &:hover {
      box-shadow: 0 0 30px 1px var(--neon-green);
    }
  }
}
